<h1>Appointments#show</h1>
<!-- Appointment#show page that shows the date, time, patient, and doctor for that particular appointment -->
<p><%= link_to @appointment.doctor.name, doctor_path(@appointment.doctor) %></p>
<p> <%= link_to @appointment.patient.name, patient_path(@appointment.patient) %></p>
<p> <%= @appointment.appt_datetime %> </p>
